* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: border-box;
}
[lighting='day']{
  --bg-color: white;
  --heading-color:#00001a;
  --text-color:#00001a;
  --link-color:blue;
  --btn-color:rgb(6, 0, 121);
  --bg-linear:radial-gradient(circle, rgba(0,45,114,1) 0%, rgba(49,140,231,1) 100%);
}
[lighting='night']{
    --bg-color: #00001a;
   --heading-color:white;
  --text-color:white;
  --link-color:aqua;
  --btn-color:rgba(49,140,231,1);
  --bg-linear:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,59,1) 35%, rgba(0,0,20,1) 100%);
}
.App{
 
  background: var(--bg-linear);
  font-family: 'Fira Code', sans-serif;
  color: white;
  padding: 10px 50px 100px;
  min-width: 1050px;
}
.welcome{
  text-align: center;
  
}
.frontend{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(9,0,163,1) 0%, rgba(0,26,255,1) 35%, rgba(0,212,255,1) 100%);
   background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
  
}
.about{
  text-align: center;
}
.apps_links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

}
.app{

  display: grid;
  grid-template-rows: 40px 20px 1fr;
  grid-template-areas: "app_image app_header app_header"
                         "app_image app_tech app_tech"
                         "app_image app_desc app_desc"
                         "app_image app_link_git app_link_git"
                          "app_image app_link_live app_link_live";
  text-align: center;
  /*padding: 20px 55px;*/
  height: 250px;
  width: 859px;
  /*465*/
  /*grid-gap: 1px;*/
  /*background-color: rgba(50,200,300,0.2);*/
  backdrop-filter: sepia(20%);
  border: 3px groove rgba(50,200,300,0.3);
}
.apps_container {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill,minmax(550px,1fr));
  margin: 50px 100px;
  grid-gap: 130px ;
  margin-bottom: 200px;

}
.app_img:hover{
  /*width: 400px;
  height: 350px;*/
  -webkit-transform:scale(2.04);
  -moz-transform:scale(2.04);
  -ms-transform:scale(2.04);
  transform:scale(2.04);
}
.app_img{
  border: dodgerblue 2px groove;
  grid-area: app_image;
}
.app_header:first-letter{
  color: blue;
  font-weight: bold;
}
.app_header{
  grid-area: app_header;
}
.app_link_git,.app_link_live{
  text-decoration: none;
  border: 1px groove rgba(50,200,300,0.3);
  color: white;
  padding: 2px;
}
.app_link_live{
}
.app_link_git:hover,.app_link_live:hover{
  background-color: rgba(50,200,300,0.6);
  color: white;
  text-decoration: none;
}
.app_link_git{
  grid-area: app_link_git;
}
.app_link_live{
  grid-area: app_link_live;
}
.app_desc{
  grid-area: app_desc;
}
.app_tech{
  grid-area: app_tech;
  color: aqua;
}
.profile{
  /*filter: blur(1px);*/
  filter: brightness(50%);
}
.profile:hover{
  /*width: 70px;*/
  /*height: 70px;*/
  filter: brightness(100%);
}
.langauges{
  color: aqua;
}
#setColor{
  position: absolute;
  background-color: var(--btn-color);
  height: 40px;
  width: 40px;
  top: 50px;
  right:50px;
  border: groove 1px;
  border-radius: 6px;
  cursor:pointer;
}
/*

@media screen and (max-width: 700px){
  .apps_links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }
}

display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  position: absolute;
  right: 1650px;


.apps_links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  position: absolute;
  right: 1650px;
}


*/
